    <!DOCTYPE html>
<html>  
<head> 

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_orange-blue.min.css"/> 
    <link rel="stylesheet" href="/src/resources/styles.css">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/src/resources/images/favicon.png">

        <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body>
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>


  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Sistema de Evaluación Docente</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/registro-estudiantil">Regístrate Estudiante</a>
        <a class="mdl-navigation__link" href="/registro-docente">Registra un Docente</a>
        <a class="mdl-navigation__link" href="/login">Inicia Sesión</a>

      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Sistema de Evaluación Docente</span>
    <nav class="mdl-navigation">
<a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="/evaluacion">Evaluación de prueba</a>
        <a class="mdl-navigation__link" href="/registro-estudiantil">Regístrate Estudiante</a>
        <a class="mdl-navigation__link" href="/registro-docente">Registra un Docente</a>
        <a class="mdl-navigation__link" href="/login">Inicia Sesión</a>

    </nav>
  </div>
  

    <main class="mdl-layout__content">
    <div class="page-content"><!-- Your content goes here -->

        {{! Every view gets inserted here }}
        {{{content}}}
    </div>
    </main>
    </div>

    
</body>  
</html> 