<!DOCTYPE html>
<html>
<head>
  <title>Registro Estudiantil</title>
</head>
<body>
{{!< layout/default}}
{{! The tag above means - insert everything in this file into the {content} of the layout.html template }}


<div>
<div class="materialContainer" style="text-align: center;">
  <h1>Evaluacion</h1>

<div align="center">

    <table class="mdl-data-table mdl-js-data-table" style="width: 80%;">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Pregunta</th>
          <th style="width: 10%;">Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Pregunta 1</td>
          <td><input class="mdl-textfield__input" type="text" id="resp1" maxlength="1"></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Pregunta 2</td>
          <td><input class="mdl-textfield__input" type="text" id="resp2" maxlength="1"></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Pregunta 3</td>
          <td><input class="mdl-textfield__input" type="text" id="resp3" maxlength="1"></td>
        </tr>
      </tbody>
    </table>
   </div>

</div>

</div>

</body>
</html>