<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
</head>
<body>
{{!< layout/default}}
{{! The tag above means - insert everything in this file into the {content} of the layout.html template }}

<div class="android-more-section">
  <br>
  </br>
          	<h2 ALIGN=center>Conoce más al nuevo Sistema de Evaluacion de Profesores</h2>
          <div class="android-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="src/resources/images/sistema.png" width="100%">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">¿Por qué evaluamos y evaluas a los profesores?</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">Descubre las razones por las cuales evaluamos a los profesores y el impacto que genera en ellos</span>
              </div>
              <div class="mdl-card__actions">
                 <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                   Conocer mas
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="src/resources/images/notificaciones.jpg" width="100%">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">Registrate para enterarte de todo</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">Enterare de cuando puedes realizar las evaluaciones a tus profes, noticias sobre eventos y más!</span>
              </div>
              <div class="mdl-card__actions">
                 <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                   Registrate
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="src/resources/images/telefono.png" width="100%">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">Realizar las evaluaciones desde la comodidad de tu smarthphone</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">Simple, liviano y muy rapido de hacer. Evaluar a tu profe nunca fue tan facil!</span>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="src/resources/images/profesor.png" width="100%">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">¿Eres un profesor? Ingresa al sistema</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">Mantente al tanto de tu calificacion como educador y realiza tus propias auto-evaluaciones</span>
              </div>
              <div class="mdl-card__actions">
                 <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                   Área de profesores
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>
          </div>
        </div>
</body>
</html>